body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    text-align: center;
    padding-top: 20px;
}

.join-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 300px;
    margin: 100px auto;
}

.join-container input,
.join-container button {
    padding: 10px;
}

.messages-container {
    border: 1px solid black;

    width: 400px;
    height: 300px;

    margin: 20px auto;
    padding: 10px;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.my-message {
    align-self: flex-end;
    background-color: brown;
    color: white;
}

.other-message {
    align-self: flex-start;
    background-color: #efefef;
    color: black;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.message-input {
    width: 300px;
    padding: 10px;
}